.background {
    position: relative;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background::before {
    content: "";
    background-image: url('New.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.background h1 {
    position: relative;
    color: crimson;
    font-size: 80px;
    text-align: center;
}