* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.navigation-bar {
    margin-left: 6%;
    margin-right: 6%;
    height: 60px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar .logo h1 {
    font-size: 30px;
    font-weight: 800;
}

.menu {
    display: flex;
    margin-left: -140px;
}

.menu li {
    padding: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: crimson;
    font-weight: 600;
}

.menu a:active {
    color: tomato;
}

.navigation-bar button {
    background-color: crimson;
    text-align: center;
    padding: 6px;
    width: 100px;
    border: none;
    color: white;
    font-size: 18px;
}

.navigation-bar button:hover {
    color: crimson;
    background-color: white;
}